<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title></title>
    {% extends 'todo_app/base.html' %}
</head>
<body>
{% block content %}

<h3>{{ title }}</h3>
<div>
    <div>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <input
                value="Save"
                type="submit"
            onclick="location.href='{% url 'index' %}'">
            <input
                value="Cancel"
                type="button"
                onclick="location.href='{% url "index" %}';">

        </form>
    </div>
</div>
</body>
{% endblock %}
</html>